.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Add cursor pointer for clickable items */
  overflow: hidden;
}
.gallery-item__image {
width: 100%;
aspect-ratio: 1 / 1;
object-fit: contain;
background-color: transparent;
transition: transform 0.3s;
}

.gallery-item__background {
height: 100%;
width: 100%;
position: absolute;
background-color: black;
opacity: 0.05;
z-index: -1; 
}
/*

.gallery-item__view {
height: 13%;
width: 100%;
position: absolute;
bottom: -13%;
display: flex;
justify-content: center;
align-items: center;
color: white;
background-color: var(--primary-color);
transition: bottom .25s;
}

.gallery-item__hover {
position: absolute;
height: 100%;
width: 100%;
background: linear-gradient(to top, black 0%, transparent 100%);
opacity: 0;
transition: opacity .25s;
}

.gallery-item:hover .gallery-item__hover {
opacity: .2;
}

.gallery-item:hover .gallery-item__view {
bottom: 0;
}
*/