
.size-box {
  height: 55px;
  width: 55px;
  border: 2px solid lightgrey;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: all .25s;
  appearance: none;
  overflow: hidden;
}

.size-box.active {
  width: 110px;
  border: 2px solid var(--green1);
  color: white;
  background-color: var(--green1);
}

.size-box.active:hover {
  border: 2px solid var(--green1);
}

.size-box__label {
  width: 52.5px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-box__input-container {
  width: 53.5px;
  height: 100%;
  flex-shrink: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-box__input-container input {
  width: 35px; 
  appearance: none; 
  border: none;
  border-bottom: 1px solid white; 
  background-color: transparent;
  color: white; 
  outline: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.size-box__input-container input::-webkit-outer-spin-button,
.size-box__input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hide the arrow buttons */
  margin: 0;
}

.size-box:hover {
  border: 2px solid rgb(184, 184, 184);
}