.customization-input__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.view-product-personal-customization {
  min-width: 100%;
  height: 80px;
  padding: 5px 5px 40px 5px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
  text-align: flex-start;
  background-color: var(--background-color-light);
  outline: none; 
}

.custom-image__wrapper {
  height: 115px;
  width: 115px;
}