.block-button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: montserrat;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.1s ease-in;
}

.block-button:hover {
  transform: scale(1.05);
}