.block-button {
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: montserrat;
  font-weight: 300;
  cursor: pointer;
  transition: background-color .1s ease-out, color .1s ease-out;
  white-space: nowrap;
  width: 180px;
}