
.member-card {
  width: 100%;
  aspect-ratio: 1 /1 ;
  padding: 50px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.member-card::before {
  content: '';
  position: absolute;
  opacity: 0;
  bottom: 0px;
  left: 55px;
  height: 0px;
  width: 0px;
  border: black 1px solid;
  transition: width .5s .1s, opacity .5s .1s;
}

.member-card:hover::before {
  width: 90%;
  opacity: 1;
}

.member-card::after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 45px;
  right: 0px;
  height: 0px;
  width: 0px;
  border: black 1px solid;
  transition: height .5s, opacity .5s;
}

.member-card:hover::after {
  height: 90%;
  opacity: 1;
}

.profile-image{
  height: 75%;
  width: 75%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(1);
  transition: transform .5s, top .5s, left .5s;
}

.member-card:hover .profile-image{
  top: 0px;
  left: 0px;
  transform: translate(-25%, -25%) scale(.5);
}

.profile-description {
  position: absolute;
}

.profile-name {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  padding-right: 70%;
  text-align: right;
  color: black;
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 0s;
}

.profile-name::after {
  content: '';
  height: 0;
  border: 2px solid black;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30%;
}

.member-card:hover .profile-name,
.member-card:hover .profile-description,
.member-card:hover .profile-socials{
  opacity: 1;
  transform: translate(0, -20px);
  transition-delay: .25s;
}

.profile-description {
  max-width: 70%;
  position: absolute;
  text-align: right;
  right: 20px;
  bottom: 30px;
  transition: opacity .5s, transform .5s;
  transition-delay: 0s;
  opacity: 0;
}

.profile-socials {
  position: absolute;
  top: 30px;
  right: 30px; 
  height: 30px;
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 0s;
}

.profile-socials:hover .profile-socials-icon {
  fill: white;
}

.profile-socials-icon {
  height: 100%;
  fill: black;
  transition: fill .5s;
}

.profile-socials::after {
  content: '';
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity .25s, transform .25s;
  transition-delay: .1s;
}

.profile-socials::before {
  content: '';
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--secondary-color);
  opacity: 0;
  transition: opacity .25s, transform .25s;
}

.profile-socials:hover::before,
.profile-socials:hover::after {
  transform: scale(50);
  opacity: 1;
}