.profile-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(136deg, #099773 19.61%, #000 72.74%);
  color: white;
  text-align: center;
  transition: all .2s ease-in;
  overflow: hidden;
}

.profile-card::after {
  content: '';
  border: 2px solid white;
  position: absolute;
  top: 30px;
  left: 25px;
  right: 25px;
  bottom: 30px;
  transform: scale(1.5); 
  transition: all .2s ease-out;
}

.profile-card__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-out;
}

.profile-card__details__title {
  width: 100%;
  max-width: calc(100% - 60px);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile-card__details h1{
  width: 100%; 
  font-size: 22px;
  opacity: 0; 
  transform: translateY(20px);
  transition: all .2s ease-out;
}

.profile-card__details h2{
  width: 100%; 
  font-size: 18px;
  opacity: 0; 
  transform: translateY(20px);
  transition: all .2s ease-out;
}

.profile-card p {
  max-height: 50px;
  width: calc(100% - 60px);
  position: absolute;
  left: 50%;
  bottom: 40px;
  text-align: center;
  opacity: 0;
  overflow-y: scroll;
  font-size: 14px;
  font-weight: 400;
  transform: translateX(-50%) translateY(20px);
  transition: all .2s ease-out;
}

.profile-card a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/*==========Hover Effects==========*/

.profile-card:hover .profile-card__image {
  opacity: .5;
}

.profile-card:hover::after {
  transform: scale(1);
}

.profile-card:hover .profile-card__details h1,
.profile-card:hover .profile-card__details h2 {
  opacity: 1;
  transform: translateY(0);
}

.profile-card:hover .profile-card__details p {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}