.main-navigation__logo {
  height: 62px;
  margin: 0px 0px 0px 0px; 
  margin-right: auto;
}

.main-navigation__logo img {
  height: 100%;
  box-sizing: content-box;
  padding: 0; 
}

.main-navigation__profile-nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.main-navigation__icon-container {
  height: 35px;
  width: 35px;
  position: relative;
  cursor: pointer;
}

.main-navigation__icon-container img {
  height: 100%;
  width: 100%;
}

.main-navigation__cart {
  height: 35px;
  width: 35px;
  padding: 2px 0px 3px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.main-navigation__cart div {
  width: 22px;
  height: 22px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: white;
  background-color: var(--tertiary-color);
}

.main-navigation__side-drawer-btn {
  border: none;
  border-radius: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.main-navigation__side-drawer-btn img {
  height: 55px; 
  width: 55px;
}

.main-navigation__side-drawer-btn:hover {
  background-color: var(--background-color-dark);
}

@media (max-width: 700px) {
  .main-navigation__header-nav {
    display: none;
  }

  .main-navigation__profile-nav {
    display: none;
  }

  .main-navigation__side-drawer-btn {
    display: flex;
  }
}