* {
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    background-color: #00693e;
    padding: 0 20px 0 20px;
}

.navbar-right-container {
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbar-right-container .inactive {
    box-sizing: border-box;
    height: 87px;
    padding: 30px 10px;
    color: #fff;
    text-decoration: none;
    font-family: montserrat;
    font-weight: 500;
    border-bottom: 0px solid white;
    transition: border-bottom .15s linear;
}

.navbar-right-container .inactive:hover {
    border-bottom: 4px solid white;
}

.active {
    color: #ffffff;
    text-decoration: none;
}

.cart-length-container {
    padding: none;
    margin-left: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
}

.length-span {
    display: flex;
    font-size: 10px;
    margin-left: 5px;
}

.navbar-image {
    height: 80px;
}