.navlinks {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-family: montserrat;
  font-weight: 500;
  font-size: 18px;
}

.navlinks a {
  text-decoration: none;
  color: black;
}

.navlinks__item {
  padding: 5px 10px;
  color: black;
  border-radius: 4px;
  transition: all .2s ease-out;
}

/*=========Hover Effects==========*/

.navlinks__item:hover {
  background-color: var(--background-color-dark)
}