.homepage__scroll-indicator {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  position: fixed;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(32deg, #01472B 13.45%, var(--green2) 147.46%);
}

.homepage__scroll-indicator img{
  height: 90px;
  width: 90px;
  transform: translateY(-30px);
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateY(-30px) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.2);
  }
  100% {
    transform: translateY(-30px) scale(1);
  }
}