.footer {
  min-height: 200px;
  width: 100vw;
  margin: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: var(--background-color-dark);
  color: var(--green1);
}

.footer__content {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.footer__socials {
  margin: 0px 40px 0px 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.footer__socials h1 {
  font-weight: 400;
}

.footer__socials__logo {
  height: 35px;
  width: 35px;
  border: 1px solid var(--green1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.footer__socials__contact {
  padding: 4px 0px;
  margin: 0px 40px;
  font-size: 18px;
  font-weight: 300;
}

.footer__socials__contact a {
  color: var(--green1);
}