* {
  box-sizing: border-box;
}

.aboutus-main-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.section-title {
  margin: 0px 0px 20px 0px;
  font-family: montserrat;
  font-size: 70px;
  font-weight: 200;
  color: var(--primary-text-color); 
}

.bold {
font-size: 70px;
color: var(--primary-color);
font-weight: 800;
}

.grid-members {
  height: 570px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 275px 275px 275px;
  grid-column-gap: 150px;
  grid-row-gap: 10px;
  overflow-y: scroll;
}

.button-scroll-profile {
  margin-top: 20px;
  background-color: transparent;
  border: none;

}