.about-us-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.about-us__title {
  margin: 20px 0px 120px 0px;
  font-family: montserrat;
  font-size: 80px;
  font-weight: 200;
  color: black; 
  text-align: center;
}

.about-us__title--bold {
color: var(--green1);
font-weight: 700;
}

.about-us__grid-members {
  width: 80vw;
  padding: 0px 40px;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media (min-width: 1300px) {
  .about-us__grid-members {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .about-us__grid-members {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 650px) and (max-width: 999px) {
  .about-us__grid-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 649px) {
  .about-us__grid-members {
    grid-template-columns: 1fr;
  }
}