.homepage-wrapper {
  min-height: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.homepage__hero-section {
  height: calc(100vh - 80px);
  min-height: 500px;
  max-height: 700px;
  width: 100%;
  min-height: fit-content;
  padding: 80px 0px;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: var(--background-color);
}

.homepage__hero-section h1 {
  font-size: 55px;
  font-weight: 800;
  max-width: 800px;
  text-align: center;
}

.homepage__hero-section h2 {
  margin: 50px 0px 0px 0px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.homepage__shop-now-btn {
  height: 65px;
  width: 200px;
  padding: 0px; 
  border: none;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 20px; 
  font-weight: 700;
  color:white; 
  background-color: var(--green1);
  transition: all .3s ease-out;
  overflow: hidden;
}

.homepage__shop-now-btn::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: -150%;
  z-index: 1;
  background-color: #027949;
  transition: all .4s cubic-bezier(.06,.87,.42,.95);
  transition-delay: 0s;
}

.homepage__shop-now-btn::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: -150%;
  background-color: var(--green2);
  z-index: 1;
  transition: all .4s cubic-bezier(.06,.87,.42,.95);
  transition-delay: .5s;
}

.homepage__shop-now-btn img {
  width: 20%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  transition: .2s all ease-out;
}

.homepage__shop-now-btn p {
  position: relative;
  z-index: 2;
}

.homepage__shop-now-btn::after {
  transition-delay: 0s;
}

.homepage__shop-now-btn::before {
  transition-delay: .2s;
}

.homepage__btns-container{
  margin: 100px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.homepage__carousel-section {
  max-width: 1200px;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.homepage__carousel-section > * {
  min-width: 300px;
}

.homepage__carousel-section__title {
  flex: 1.5;
  padding: 80px 20px; 
}

.homepage__carousel-section__title img {
  width: 100%;
}

.homepage__carousel-section__title > h3 {
  font-size: 35px;
  font-weight: 400;
}

.homepage__carousel-section__carousel-container {
  flex: 1;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage__carousel__container {
  background-color: green;
}

.homepage__process-section {
  height: 6000px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.sticky-container {
  height: calc(100vh - 80px);
  width: 100vw;
  padding: 80px 0px;
  border: none;
  position: sticky;
  top: 80px;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 80px;
  overflow: hidden;
}

.circle-expand {
  width: 200vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  background: var(--green1);
  transform: translateX(400px);
}

.sticky-container h1 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

.instruction-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.note-section {
  padding: 150px 40px 0px 40px;
  background-color: var(--background-color);
}

.note-section__titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.note-section h1 {
  font-size: 85px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: .8;
}

/* Hover Effects */

.homepage__shop-now-btn:hover {
  transform: scale(1.025);
}

.homepage__shop-now-btn:hover::before {
  transform: translateX(150%);
  transition-delay: 0s;
}

.homepage__shop-now-btn:hover::after {
  transform: translateX(150%);
  transition-delay: .2s;
}

.homepage__shop-now-btn:hover img {
  transform: translatex(10px);
}

@media (max-width: 1400px) {
  .homepage__process-section {
    height: fit-content;
    margin: 50px 0px 0px 0px;
    background-color: var(--green1);
  }

  .homepage__process-section * {
    opacity: 1 !important;
    transform: none !important;
  }

  .sticky-container {
    height: fit-content;
    position: block;
  }

  .sticky-container h1 {
    font-size: 85px
  }

  .circle-expand {
    display: none;
  }

  .note-section {
    padding: 150px 0px 0px 0px;
  }

  .note-section h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -2px;
    text-align: center;
  }
}