.homepage {
  padding: 20px 100px 0px 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/*==========Hover Effects==========*/

.welcome-section__shop-button:hover {
  opacity: .8;
}