.color-input {
  height: fit-content;
}

.color-input__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.color-input__set {
  max-width: 300px;
  margin: 0px 0px 40px 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 7px;
}

.color-input__dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  position: relative; 
}

.color-input__dropdown__selectedColor {
  height: 50px;
  width: 100%;
  display: flex;
  border: 2px solid lightgray;
  border-radius: 8px; 
  justify-content: space-between;
  align-items: center; 
  padding: 5px 10px; 
  transition: all 200ms;
}

.color-input__dropdown__selectedColor:hover {
  border: 2px solid rgb(184, 184, 184);
}

.color-input__dropdown__selectedColor div {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.color-input__dropdown__selectedColor p {
  font-size: 18px;
  font-weight: 400;
}

.color-input__dropdown__selectedColor img {
  width: 20px;
  rotate: 0deg;
  transition: all 200ms;
}

.color-display {
  height: 30px;
  width: 30px;
  aspect-ratio: 1 / 1;
  border: 1px solid lightgray;
  border-radius: 30px;
  position: relative;
  appearance: none; 
  margin: 0 10px 0 0;
}

.color-display:checked::after {
  content: '';
  height: 120%;
  width: 120%;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.color-input__dropdown__list {
  width: 100%;
  max-height: 400px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px; 
  position: absolute;
  top: calc(100% + 5px); 
  left: 0px; 
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-color);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  overflow: scroll;
}



.color-input__dropdown__list label {
  padding: 10px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: center; 
  position: relative;
}

.color-input__dropdown__list label p {
  color: black;
  font-weight: 400;
  font-size: 18px;
}


.color-input__dropdown__list label:hover {
  background-color: rgba(0,0,0,0.05);
}