.color-input {
  height: fit-content;
}

.color-input__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.color-input__set {
  max-width: 300px;
  margin: 0px 0px 40px 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 7px;
}

.color-input__dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  position: relative; 
}

.color-input__dropdown__selectedColor {
  width: 100%;
  display: flex;
  border: 1px solid var(--black);;
  border-radius: 4px; 
  justify-content: space-between;
  align-items: center; 
  padding: 5px 10px; 
}

.color-input__dropdown__selectedColor div {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.color-input__dropdown__selectedColor img {
  width: 20px;
  rotate: 0deg;
  transition: all 200ms;
}

.color-display {
  height: 30px;
  width: 30px;
  border: .5px solid var(--light-grey);
  border-radius: 30px;
  position: relative;
  appearance: none; 
  margin: 0 10px 0 0;
}

.color-display:checked::after {
  content: '';
  height: 120%;
  width: 120%;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.color-input__dropdown__list {
  width: 100%;
  max-height: 400px;
  border: none;
  border-radius: 4px; 
  position: absolute;
  top: calc(100% + 5px); 
  left: 0px; 
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  transition: all 200ms;
  z-index: 1000;
  overflow: scroll;
}



.color-input__dropdown__list label {
  padding: 10px 10px;
  display: flex;
  justify-content: start;
  align-items: center; 
  position: relative;
}

.color-input__dropdown__list label p {
  color: black;
  font-weight: 300;
  font-size: 16px;
}

.color-input__dropdown__list label::after {
  content: '';
  height: 1px;
  position: absolute;
  width: 95%;
  left: 50%;
  bottom: 0; 
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--light-grey);
}

.color-input__dropdown__list label:hover {
  background-color: rgba(0,0,0,0.05);
}

.dropdown-enter {
  opacity: 0;
  transform: translateY(20px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 200ms;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0px);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: all 200ms;
}