.product-gallery {
  width: 100%;
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  padding: 0px 100px;
  margin: none; 
  padding-inline-start: none; 
}

@media (max-width: 599px) {
.product-gallery {
  grid-template-columns: 1fr;
}
}

@media (min-width: 600px) and (max-width: 899px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) and (max-width: 1399px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}