.product-gallery {
  width: 100%;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  padding: 0px 30px;
  margin: none; 
  padding-inline-start: none; 
}

.product-gallery > * { 
  aspect-ratio: 1 / 1; /* Makes height equal to width */
  width: 100%; /* Ensures it stretches based on grid */
}

@media (max-width: 599px) {
.product-gallery {
  grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 600px) and (max-width: 899px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 900px) and (max-width: 1399px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.product-gallery img {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Adjust the timing (1s) as needed */

}

.product-gallery img.visible {
  opacity: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 200ms;
}