

.view-product-form {
  width: 100%;
  max-width: 500px;
  padding: 0px 20px;
}

.view-product-form__product-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  font-weight: 200;
}

.view-product-form__product-info h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1; 
  margin: 0;
}

.view-product-form__product-info h2 {
  font-size: 15px;
  font-weight: 300;
}

.form__line-break {
  margin: 20px 0px;
  height: 1px;
  background-color: rgb(202, 202, 202);
}

.view-product-form__input {
  margin: 20px 0;
}

.form__add-cart-button {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin-top: 30px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  background-color: var(--green1);
  transition: all 200ms;
}

.form__add-cart-button:hover {
  background-color: var(--green1-dark);
}

@media (max-width: 900px) {
  .view-product-form {
    max-width: 900px;
  }
}