/* View Product */

.view-product {
  display: flex;
  justify-content: center;
}

.view-product__display-section {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  max-width: 1270px;
  position: relative;
}

.display-section__back-button {
  padding: 0px 10px;
  border: none;
  position: absolute;
  background-color: transparent;
}

.display-section__back-button:hover .back-button-svg {
  stroke: var(--primary-color);
  transform: scale(1.1);
}

.back-button-svg {
  height: 45px;
  transition: transform 0.1s ease-in-out;
}

.display-section__product-card{
  min-width: 300px;
  flex: 1;
}

.product-card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgb(0, 0, 0, .05);
  object-fit: contain;
}

.view-product-form {
  width: 100%;
  max-width: 500px;
  margin-right: 20px;
  margin-left: 80px;
}

.view-product-form__input-container {
}

.view-product-form__product-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  font-weight: 200;
}

.view-product-form__product-info h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1; 
  margin: 0;
}

.view-product-form__product-info h2 {
  font-size: 15px;
  font-weight: 300;
}

.form__line-break {
  margin: 30px 0px;
  height: 1px;
  background-color: black;
}

.view-product-form__input {
  margin: 20px 0;
}

.form__add-cart-button {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin-top: 30px;
  color: white;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 5px;
  background-color: var(--primary-color);
  transition: all 200ms;
}

.form__add-cart-button:hover {
  background-color: var(--dark-primary-color);
}