.cart-item {
  min-height: 200px;
  min-width: 500px;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
  position: relative;
  background-color: var(--background-color-dark);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.cart-item__image-container {
  height: 170px;
  width: 170px;
  border: 1px solid lightgray;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item__image-container p {
  font-size: 12px;
  width: 70%;
  text-align: center;
}

.cart-item__image-container img {
  height: 100%;
  width: 100%;
}
.cart-item__description {
  min-width: 200px;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.cart-item__description h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.cart-item__description h2 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
}

.cart-item__description p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: gray;
}

.cart-item__description__attribute {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}

.cart-item__description__attribute div {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.delete-from-cart {
  border: .5px solid transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  background-color: transparent;
  color: var(--green1);
}

.delete-from-cart:hover {
  text-decoration: underline;
}

.cart-item__size-tag {
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 11px;
  font-weight: 600;
  background-color: var(--green1);
  color: white;
}

@media (max-width: 600px) {
  .cart-item {
    min-width: 0px;
  }
}