.products-wrapper {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.products__note {
  margin: 20px 0px 30px 0px;
  width: 70vw; 
}

.products__note h3 {
  font-size: 20px;
  font-weight: 300; 
  text-align: center;
}

.products__line-break {
  height: 2px;
  width: 70%;
  margin: 30px;
  border-radius: 1px;
  background-color: var(--green1);
}

.products-wrapper p{
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center; 
}

@media (max-width: 600px) {
  .products-wrapper > p {
    display: none;
  }
}